body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #F8BBD0;
    /*background: hsl( calc(var(--html-scrollTop) / var(--html-scrollHeight) * 100), 75%, 50%);*/
}


.top-bar {
    position: absolute;
    background-color: rgba(255,255,255,0);
    top:0;
    width: 100%;
    height: 120px;
    transition: all 0.5s;

}


.top-bar.past-120 {
    background-color: white;
    top: calc(var(--html-scrollTop) * 1px - 120px);
    box-shadow: none ;
}


.top-bar.compact {
    background-color: white;
    top: calc(var(--html-scrollTop) * 1px - 120px + 60px);
    box-shadow: 0 0 16px rgba(0,0,0, 0.5) ;

}


.back-button {
    color: white;
    position: absolute;
    top: 75%;
    margin-top: -16px;
    margin-left: 35px;
    width: 32px;
    height: 32px;

    transition: all 1s;
}

.full .back-button {
    top: 50%;
    margin-top: -25px;
    margin-left: 35px;
    width: 50px;
    height: 50px;
}

.compact .back-button {
    color: #37474F;
}

/*.ellipsis {*/
    /*color: white;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*margin-right: 16px;*/
    /*margin-top: 24px;*/
    /*width: 24px;*/
    /*height: 24px;*/

    /*transition: all 1s;*/
/*}*/

/*.full .ellipsis {*/
    /*!*top: 50%;*!*/
    /*!*margin-top: -24px;*!*/
    /*!*margin-right: 35px;*!*/
    /*width: 24px;*/
    /*height: 24px;*/
/*}*/

/*.compact .ellipsis {*/
    /*top: 50%;*/
    /*margin-top: 16px;*/
    /*color: #37474F;*/
/*}*/

.nav-arrows {
    position: fixed;
    top: 50%;
    left: calc(50% - 472px);
    width: 944px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*transition: none;*/

}

.nav-arrows svg {
    color: white;
    height: 38px;
    transition: transform 0.2s;
}

.nav-arrows svg:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.top-bar .middle-section {
    max-width: 768px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.align-left .middle-section {
    align-items: flex-start;
}

.title {
    opacity: 0;
    color: white;
    font-family: 'Noto Sans';
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    margin: 0;
    transition: all 1s;
}



.full .title {
    opacity: 1;
}




.star-nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.star {
    width: 50px;
    height: 50px;
    align-self: center;
    margin-right: 16px;

}
.page-nav {
    display: flex;
    flex-direction: row;
    align-self: center;


}

.page-nav a {
    display: block;
    width: 14px;
    height: 14px;
    margin: 5px;
    border-radius: 50%;
    background: white;
    transition: all 0.2s;
    cursor: pointer;
}

.compact .page-nav a {
    background: #37474F;
}

.page-nav a:hover {
    transform: scale(1.71);
    cursor: pointer;
}


.page-area {
    width: 100%;
    height: 100%;
    margin-top: 120px;
    /*height: calc(100vh - 120px);*/
}


.page {
    display: block;
    width: 768px;
    background-color: white;
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 60px;
    padding: 60px 0;
}

.question {
     display: flex;
     flex-direction: row;
     justify-content: center;
     height: 300px;
 }

.question:not(:first-child):not(:last-child) {
    margin: 32px 0;
}

.question .abc-strip {
    width: 26px;
    background-color: #F8BBD0;
}

.question .question-content {
    width: 518px;
    background-color: #F06292;
}

#fab {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 56px;
    height: 56px;
    margin: 16px;
    border-radius: 50%;
    background-color: #F50057;
    box-shadow: 2px 2px 8px rgba(0,0,0, 0.5) ;
    transition: all 0.2s;
    cursor: pointer;
}

#fab svg {
    color: white;
    width:24px;
    height: 24px;
    margin: 16px;
}

#fab:hover {
    box-shadow: 4px 4px 16px rgba(0,0,0, 0.5) ;
    cursor: pointer;
}

#fab:active {
    background-color: #E91E63;
    box-shadow: 4px 4px 16px rgba(0,0,0, 0.5) ;
    cursor: pointer;
}



/*
SMALL SCREEN
*/


@media (max-width: 1024px) {
    body {
        background-color: white;
    }

    .title {
        color: #37474F;
        font-size: 19px;
        max-width: 460px;
        /*overflow: hidden;*/
        text-overflow: ellipsis;
    }

    .nav-arrows svg {
        color: #37474F;
        height: 38px;
    }

    .nav-arrows {
        position: absolute;
        width: 104px;
        top: calc(60px - 19px );
        left: auto;
        right: 40px;
        transition: all 1s;
    }

    .compact .nav-arrows svg {
        color: #37474F;
        height: 30px;
    }

    .compact .nav-arrows {
        position: absolute;
        width: 74px;
        top: calc(120px - 45px );
        left: auto;
        right: 30px;
        transition: all 1s;
    }


    .align-left .middle-section {
        max-width: 540px;
    }




    .page-nav a {
        background: #37474F;
    }

    .back-button {
        color: #37474F;
    }


    /*.ellipsis {*/
        /*color: #37474F;*/
    /*}*/

    .top-bar {
        /*box-shadow: 0 0 16px rgba(0,0,0, 0.5) ;*/
    }

    .top-bar.full {
        /*box-shadow: 0 0 16px rgba(0,0,0, 0.5) ;*/
        border-bottom: 1px solid #CFD8DC;
    }
}
